<div class="form" id="add-post-form">
        <form> 
            <div class="blog-header">
                <h2>Create New Blog</h2>
            </div>
            <p>Title</label></p>
            <input type="text" id="blog-title"><br>
            <p>Content</p>
            <textarea name="blog-content" id="blog-content" cols="30" rows="10"></textarea><br>
            <input id="blog-submit" type="submit" value= "Create">
        </form>
    </div>
<button id="blog-create">+ New Blog</button>