{{#if blogs.length}}
<div class="form">
        <form> 
            <div class="blog-header">
                <h2>Your Posts</h2>
            </div>
            {{#each blogs as |blog|}}
            {{> dashboard-bloginfo blog}}
            {{/each}}
        </form>
</div>
<button id="post-create"><a href="/dashboard/new">+ New Post</a></button>
{{/if}}



<script src="/js/add-post.js"></script>