{{#if loggedIn}}
<div class="form">
        <form> 
            <div class="blog-header">
                <h2>Your Blogs</h2>
            </div>
            {{#each blogs as |blog|}}
            {{> dashboard-bloginfo blog}}
            {{/each}}
        </form>
</div>
<button id="blog-create"><a href="/dashboard/add-blog">+ New Blog</a></button>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}



<script src="/js/add-blog.js"></script>