<div class="form">
        <form id="login-form"> 
            <div class="blog-header">
                <h2>Login</h2>
            </div>
            <p>Username</p>
            <input type="text" id="username-login"><br>
            <p>Password</p>
            <input type="password" id="password-login"><br>
            <input id="login" type="submit" value= "Login!">
            <p><a href="/signup">SIGN UP INSTEAD</a></p>
        </form>
</div>

<script src="/js/login.js"></script>