/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    background-color: lightblue;
}
  
/******************************************
/* LAYOUT
/*******************************************/
img {
    display: block;
    margin: 0 auto;
}
  
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

nav {
    height: 140px;
    margin-bottom: 20px;
    background-color: black;
}

nav h1 {
    padding: 10px 20px;
    margin: 30px;
    display: inline;
    border: 5px solid;
    border-radius: 20px;
    box-shadow: 3px 5px lightblue;
}

ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    padding-bottom: 5px;
    overflow: hidden;
    display: flex;
    background-color: black;
}

li {
    background-color: black;
}
  
  
li a {
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

section {
    border: 2px solid black;
    width: 90%;
    margin: 50px auto;
}


.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 10px;
    margin-left: 10px; */
    background-color: black;
    overflow: hidden;
}

.blog-header h2 {
    margin-left: 10px;
    background-color: black;
    color: lightblue;
}

.blog-header p {
    margin-right: 10px;
    background-color: black;
    color: lightblue;
}


section > p {
    margin: 10px
}

