/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
    background-color: lightblue;
    font-family: 'Varela Round', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
    display: block;
    margin: 0 auto;
}

nav {
    height: 140px;
    margin-top: -15px;
    background-color: black;
}

nav h1 {
    padding: 10px 20px;
    margin: 30px;
    display: inline;
    border: 5px solid;
    border-radius: 20px;
    box-shadow: 3px 5px lightblue;
}

ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    display: flex;
    background-color: black;
}

li {
    background-color: black;
    font-size: 22px;
}
  
  
li a {
    display: block;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

section, .form {
    border: 2px solid black;
    width: 90%;
    margin: 50px auto;
}

.form label, .form input, .form textarea, .form button{
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 15px;
   width: 1650px;
}

#post-submit, #post-create {
    padding: 5px;
    background-color: black;
    color: lightblue;
}

#post-create{
    display: block;
    margin: 0 auto;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.blog-header h2 {
    margin-left: 10px;
    background-color: black;
    color: lightblue;
}

.blog-header p {
    margin-right: 10px;
    background-color: black;
    color: lightblue;
}


section > p {
    margin: 10px
}

p, button, input {
    font-size: 22px;
}
  
/******************************************
/* ADDITIONAL STYLES
/*******************************************/



