<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Logout</a></li>
            </ul>
            <h1>The Tech Blog</h1>
        </nav>
    </header>
    <div class="form">
        <form> 
            <div class="blog-header">
                <h2>Login</h2>
            </div>
            <p>Username</p>
            <input type="text" id="post-title"><br>
            <p>Password</p>
            <input type="text" id="post-title"><br>
            <input id="login-submit" type="submit" value= "Login!">
            <p><a href="">SIGN UP INSTEAD</a></p>
        </form>
    </div>
</body>
</html>